.VolumeButton {
    width: 72px;
    height: 72px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-color: white;
}

.VolumeIcon {
    width: 54px;
    height: 54px;
}

.VolumeLabel {
    font-size: x-large;
    color: white;
}

.ms-Slider-value {
    color: white;
}

.ms-Slider-active {
    background: #0071BC;
}