.VolumeButton {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
}

.VolumeIcon {
    width: 54px;
    height: 54px;
}

.VolumeLabel {
    font-size: x-large;
    color: white;
}

.ms-Slider-value {
    color: white;
}

.ms-Slider-active {
    background: #0071BC;
}