.App {
  text-align: center;
  display: flex;
  height: 100vh;
  background-color: #282c34;/*#0071BC;
  font-size: calc(10px + 2vmin)
  2vmin evaluates to .02 * window height in px. */
}

.Nav {
  width: 100%;
  background-color: inherit !important;
}

.grid {
  width: 100%;
}

.SettingsIcon {
  width: 24px;
  height: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header, .headerButton{
  min-height: 50px;
}
